{% extends "base.html" %}
{% load static %}
{% block title %}FAQ{% endblock %}

{% block content %}

<!--Section: FAQ-->
<section>
    <h3 class="text-center mb-4 pb-2" style="color: rgb(182, 42, 66); font-weight: bold;">FAQ</h3>
    <p class="text-center mb-5">
      Find the answers for the most frequently asked questions below
    </p>
  
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3" style="color: rgb(182, 42, 66);"><i class="far fa-paper-plane" style="color: rgb(182, 42, 66); padding-right: 0.5rem;"></i>What is the mission of the Pure Heart Foundation?</h6>
        <p>
            The Pure Heart Foundation is dedicated to improving the well-being of vulnerable individuals by addressing various social, educational, and humanitarian needs in our community.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3" style="color: rgb(182, 42, 66);"><i class="fas fa-pen-alt" style="color: rgb(182, 42, 66); padding-right: 0.5rem;"></i> How can I get involved with the Pure Heart Foundation?</h6>
        <p>
            You can get involved with the Pure Heart Foundation by exploring volunteer opportunities, participating in fundraising events, or contributing through donations. Visit our website for more details on how to become actively engaged.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3" style="color: rgb(182, 42, 66);"><i class="fas fa-user" style="color: rgb(182, 42, 66); padding-right: 0.5rem;"></i> What specific programs does the Pure Heart Foundation offer for community development?
        </h6>
        <p>
            The foundation provides a range of programs focused on education, employment, support services, and more. These programs are designed to uplift the vulnerable and contribute to the overall development of communities.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3" style="color: rgb(182, 42, 66);"><i class="fas fa-rocket" style="color: rgb(182, 42, 66); padding-right: 0.5rem;"></i> How does the Pure Heart Foundation ensure transparency in its operations?
        </h6>
        <p>
            Transparency is a core value for us. We regularly publish financial reports, share updates on our programs, and maintain open communication with our supporters and the community. This ensures accountability and trust in our operations.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3" style="color: rgb(182, 42, 66);"><i class="fas fa-home" style="color: rgb(182, 42, 66); padding-right: 0.5rem;"></i>Can I nominate someone in need for assistance from the Pure Heart Foundation?
        </h6>
        <p>Yes, the foundation welcomes nominations for individuals or groups in need of assistance. You can contact us through our website or visit our local offices to submit a nomination, and our team will review the case.</p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3" style="color: rgb(182, 42, 66);"><i class="fas fa-book-open" style="color: rgb(182, 42, 66); padding-right: 0.5rem;"></i>What impact has the Pure Heart Foundation had on the community so far?</h6>
        <p>
            The foundation has made a significant impact by providing educational opportunities, creating employment avenues, and offering support to vulnerable members of the community. Our success stories showcase the positive change we've been able to bring to the lives of those we serve.
        </p>
      </div>
    </div>
  </section>
  <!--Section: FAQ-->


{% endblock %}
