{% load static %}
<style>
    footer {
    position: relative;
    left: 0;

}
</style>

<footer class="bg-dark text-light py-5">
    <div class="container ">
        <div class="d-flex justify-content-between">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Subscribe to our newsletter</h5>
                        <p>Monthly digest of what's new and exciting from us.</p>
                        <form method="post" action="{% url 'mail' %}" class="space-y-3">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" placeholder="Your email" aria-label="Your email" aria-describedby="button-addon2">
                                <button class="btn btn-danger" type="button" id="button-addon2">Subscribe</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 offset-md-4 align-self-end">
                        <h5>Connect with us</h5>
                        <p>Follow us on social media</p>
                        <div class="d-flex justify-content-between">
                            <a href="#"><img src="{%static 'assets/instagram.svg'%}" alt="Instagram" width="30" height="30" style="filter: invert(100%); margin-right: 5px;"></a>
                            <a href="#"><img src="{%static 'assets/twitter.svg'%}" alt="Twitter" width="30" height="30" style="filter: invert(100%); margin-right: 5px;"></a>
                            <a href="#"><img src="{%static 'assets/facebook.svg'%}" alt="Facebook" width="30" height="30" style="filter: invert(100%); margin-right: 5px;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
