{% extends "base.html" %}
{% load static %}
{% block title %}Work{% endblock %}

{% block content %}

           <!-- hero image section starts-->

           <section class="section">
            <p>
                Pure Heart Foundation supports women in getting jobs to slowly but surely increase their income.  </p>
            <p>The Pure Heart Foundation (PHF) is deeply committed to empowering women in our society, recognizing the pivotal role they play in community development. One of the impactful initiatives undertaken by PHF is to facilitate and support women in securing meaningful employment opportunities. Understanding the barriers that women often face in the job market, PHF provides tailored programs, training, and resources to enhance their skills and confidence. By fostering a supportive environment, the foundation ensures that women are equipped with the necessary tools to enter the workforce successfully. PHF's dedication to empowering women economically not only transforms individual lives but also contributes to the overall advancement of communities, promoting equality and sustainable development. Through collaborative efforts, the Pure Heart Foundation continues to be a catalyst for positive change in the lives of women, fostering a brighter and more inclusive future for all.
                </p>
        </section>
        <section id="sustainable-development" class="bg-light py-5">
          <p>Our Organisation mainlycontributes to the following sustainable goals : </p>
          <div class="container">
                       <div class="row text-center">
                  <div class="col-md-2">
                      <img src="{% static 'assets/good-health.png'%}" class="img-fluid mb-3" alt="Goal 1">
                  </div>
                  <div class="col-md-2">
                      <img src="{% static 'assets/quality-education-copy.png'%}" class="img-fluid mb-3" alt="Goal 3">
                  </div>
                  <div class="col-md-2">
                      <img src="{% static 'assets/economic-growth.png'%}" class="img-fluid mb-3" alt="Goal 5">
                  </div>
                  <div class="col-md-2">
                    <img src="{% static 'assets/partnership.png'%}" class="img-fluid mb-3" alt="Goal 5">
                </div>
              </div>
          </div>
      </section>


        <!-- hero image section ends-->

          <!-- Paragraph section -->
          <section class="section">
            <p>
                Pure Heart Foundation was initiated in 2002 when a group of friends came together with the intention of giving back to the society. They were inspired by the thought and philosophy of Peter Senge, the founder of the Society for Organizational Learning who has propagated that “sustainability, social equality and the environment are now business problems…” and corporate leaders can’t expect governments to solve them alone.                </p>
            <p>
                What triggered these thoughts was the liberalisation of the Indian economy in the 1990’s which brought with it immense opportunities. Business revived, and India became not just a market, but also an investment prospect for the developed world. Disposable incomes and early settlements became a living reality for the working middle-class. For the first time in India, professionals could think beyond making a living, and contribute towards the society.                </p>
        </section>
          <!-- Paragraph section ends -->



         <!-- second hero image section starts-->


           <section>
          <img class="full-width-image" src="{% static 'assets/3 children.png'%}" alt="Description of the image">
          </section>


      <!-- second hero image section ends-->

       <!-- second Paragraph section -->
       <section class="section">
        <p>
          But while working on the ground, we realised that child education cannot be done in isolation, without ensuring the welfare of the whole family. Health is also a part of education. A child will not go to school if he is sick. If a child’s parents are afflicted with health problems, he might drop-out of school and start earning instead. Unless the mother is healthy and empowered, the child cannot be either. It is all interlinked. 

          Our other programmes evolved as a logical progression to our education programme – be it livelihood, health or women empowerment. Today, children and education continue to remain at the centre of all we do, but through the lifecycle approach we also address the needs of the children’s families and communities.<p>

    </section>
      <!-- second Paragraph section ends -->


       <!-- third Paragraph section -->
       <section class="section">
        <p>

            Fuelled with enthusiasm, Smile’s founders gave a shape to their dream, and Smile Foundation was born. Over the last two decades, Smile has evolved as a sustainable Indian social institution – committed to do real work on the ground, and make the society and businesses inclusive in the process of bringing change.            <p>
            What triggered these thoughts was the liberalisation of the Indian economy in the 1990’s which brought with it immense opportunities. Business revived, and India became not just a market, but also an investment prospect for the developed world. Disposable incomes and early settlements became a living reality for the working middle-class. For the first time in India, professionals could think beyond making a living, and contribute towards the society.                </p>
    </section>
      <!-- third Paragraph section ends -->

{% endblock %}